@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container {
    width: 80%;
    max-width: 1520px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}


    /* header seciont style here  */

nav {
    display: flex;
    margin-top: 3.7rem;
    align-items: center;
}

.left-side {
    width: 50%;
    
}

.right-side {
    width: 50%;
    
}

.left-side .logo h1 {
    font-size: 3rem;
    color: #606d5f;
}


.right-side ul {
    display: flex;
    justify-content: end;
}

.right-side ul li{
    list-style: none;
    padding-left: 4rem;
}

.right-side ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: #888888;
    font-weight: 300;
}



    /* main section style here */

.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    margin-top: 5rem;
}


.left-side-content {
    width: 50%;
}

.left-side-content h1{
    font-size: 5rem;
    color: #606d5f;
    width: 40rem;
    line-height: 5rem;
    margin-bottom: 4rem;
}

.left-side-content p{
    width: 45rem;
    font-size: 1.8rem;
    color: #888888;
    margin-bottom: 3rem;
}

.left-side-content button {
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    color: #888888;
    padding: 1rem 3rem;
    border: none;
    border-radius: 2rem;
    outline: none;
    line-height: 3.6rem;
}


.right-side-content {
    width: 50%;
}


.right-side-content img{
    width: 100%;
}






/* product section style here */


.product-head h1{
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 4rem;
    text-align: center;
    margin-top: 4rem;
    color: #606d5f;
}



.product {
    width: 25rem;
    height: 25rem;
    background-color: #efefefef;
    border-radius: 2rem;
    justify-content: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.product h2 {
    font-size: 2.2rem;
    color: #606d5f;
}

.btn-primary {
    background-color: #fff;
    border: 2px solid #efefefef;
    padding: 1rem 2rem;
    color: #888888;
    cursor: pointer;
    border-radius: 1rem;
    line-height: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.product img {
    width: 80%;
    border-radius: 50%;
}



.feature-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
}


    /* why we are the best style here */


.our-sevice {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-content: center;
}

.our-support h1{
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 4rem;
    text-align: center;
    margin-top: 10rem;
    color: #606d5f;
}


.service {
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service img{
    width: 14rem;
    margin-bottom: 1rem;
}

.service h2 {
    font-size: 2.2rem;
    color: #606d5f;
    margin-bottom: 1rem;
}

.service p{
    font-size: 1.5rem;
    color: #888888;
    text-align: center;
    width: 28rem;
}



    /* footer section style here */




footer {
    background-color: #efefefef;
    margin-top: 5rem;
    font-size: 1rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer p {
    color: #888888;
    font-size: 1.8rem;
    line-height: 150%;
}


    /* tablet device responsive  */


@media screen and (max-width: 900px) {
    .left-side .logo h1 {
        font-size: 3rem;
    }
    .right-side ul li a {
        font-size: 2.5rem;
    }
    .left-side-content h1 {
        font-size: 4rem;
        width: 100%;
        margin-bottom: 2rem;
    }
    .right-side-content {
        width: 100%;
    }
    .right-side-content img, .left-side-content{
        width: 100%;
    }
    .main-content {
        flex-direction: column;
        height: 66vh;
    }
    .left-side-content {
        margin-top: 5rem;
        order: 2;
    }
    .right-side-content {
        order: 1;
    }
    .left-side-content p {
        width: 100%;
        font-size: 2rem;
        
    }

    /* main content responsive */

    .product-head h1 {
        font-size: 4rem;
        
    }
    .feature-product {
        grid-template-columns: repeat(2, 1fr);
    }


    /* why we best section responsibe */


    .our-sevice {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .our-support h1 {
        margin-top: 5rem;
    }
    .our-support h1 {
        font-size: 3.5rem;
    }

    footer p {
        font-size: 2rem;
    }
}




    /* phone device responsive  */

@media screen and (max-width: 576px) {
    .left-side .logo h1 {
        font-size: 2rem;
    }
    .right-side ul li a {
        font-size: 1.5rem;
    }
    .left-side-content h1 {
        font-size: 2rem;
        width: 100%;
        margin-bottom: 2rem;
    }
    .right-side-content {
        width: 100%;
    }
    .right-side-content img, .left-side-content{
        width: 100%;
    }
    .main-content {
        flex-direction: column;
        height: 66vh;
    }
    .left-side-content {
        margin-top: 5rem;
        order: 2;
    }
    .right-side-content {
        order: 1;
    }
    .left-side-content p {
        width: 100%;
        font-size: 2rem;
        
    }

    /* main content responsive */

    .product-head h1 {
        font-size: 3rem;
        
    }
    .feature-product {
        grid-template-columns: repeat(1, 1fr);
    }


    /* why we best section responsibe */


    .our-sevice {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .our-support h1 {
        margin-top: 5rem;
    }
    .our-support h1 {
        font-size: 2.5rem;
    }

    footer p {
        font-size: 1rem;
    }
}





